.env
.env.*
.git
.github
.idea
.vscode
auth.json
node_modules
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
vendor
docker-compose.yml
npm-debug.log
*.md
